/*************************
    General
*************************/
.default-btn::before {
    background-color: #2A6AB2;
    border: 1px solid #2A6AB2;
}
.newsletter-form .default-btn:hover span, .newsletter-form .default-btn:focus span, .newsletter-form .default-btn:active span {color: #2A6AB2; border: none}
#scrollUp {background: #2A6AB2 none repeat scroll 0 0;}
.breadcrumb-text h3 {color: #2A6AB2;}


/*************************
    Header
*************************/
.header-contact > a {border: 1px solid #2A6AB2;}
.main-menu > nav > ul > li:hover > a {color: #2A6AB2;}
.mean-container a.meanmenu-reveal {
    border: 1px solid #2A6AB2;
    color: #2A6AB2;
}
.mean-container a.meanmenu-reveal span {background-color: #2A6AB2}


/*************************
    Slider
*************************/
.banner-btn {
	border: 1px solid #2A6AB2;
	color: #2A6AB2;
}
.banner-btn:hover {
	background: rgba(42, 106, 178, 0.5);
	color: #fff;
}
.slider-content h1 span{color: #2A6AB2}
.owl-theme .owl-nav div {
    background: rgba(42, 106, 178, 0.4);
    color: #2A6AB2;
}
.one-page-arrow{border: 1px solid #2A6AB2}


/*************************
    Footer
*************************/
.twitt-content a {color: #2A6AB2;}
.single-footer-widget button, .contact-form button{
    background: #2A6AB2 none repeat scroll 0 0;
    border: 1px solid #2A6AB2;
}
.single-footer-widget button:hover, .contact-form button:hover{color: #2A6AB2;}
.single-footer-widget input:focus{border: 1px solid #2A6AB2;}
.footer-text-area {background: #2A6AB2 none repeat scroll 0 0;}

.socialmedia-list li{
	display:inline-block !important;
	padding: 20px 10px;
	margin-left:40px;
}
.single-footer-widget .socialmedia-list li .socialmedia-icon {
	font-size: 45px;
	margin-right:8px;
	color: #2A6AB2;
}


/*************************
    Sections (Overrides for style.css)
*************************/

.about-image {
	position: relative;
    z-index: 2;
    margin: 10px;
}
.single-content h3:hover a{
    color: #2A6AB2;
}
.single-content ul li i{
    color: #2A6AB2;
}
.single-content p{
    padding: 20px 40px;
}
.single-class-custom .single-content p {
	height: 184px;
}
.single-img:after, .portfolio-img:after{
    background: rgba(42, 106, 178, 0.7) !important;
}
.trainer-hover ul li:hover a{
    color: #2A6AB2;
}
.single-trainer:after, .blog-pic:after{
    background: rgba(42, 106, 178, 0.0) none repeat scroll 0 0 padding-box content-box;
}
.event-content h4{
	color: #2A6AB2;
}
#boxing-gallery .grid .grid-item {

padding-bottom: 30px;

}
.blog-content a:hover{
	color: #2A6AB2;
}
.single-table:hover .table-head h2, .single-table:hover .table-body, .single-table:hover .table-body a{
    background: #2A6AB2;
}
.single-table:hover .table-head h2, .single-table:hover .table-body ul li, .single-table:hover .table-body a{
    color: #fff;
}
.single-table:hover .table-body ul li{
    border-bottom: 1px solid #2762a5;
}
.single-table:hover .table-body ul li:last-child {
    border-bottom: none;
}
.single-table:hover .table-body a{
    box-shadow: 0 0 4px 4px #2762a5;
}
.table-body a {
    color: #2A6AB2;
}
.single-testimonial {
    background: #2A6AB2 none repeat scroll 0 0;
    padding: 40px 35px 10px 35px;
    margin-bottom: 20px;
}
.single-testimonial i{
    background: #2A6AB2;
}
.single-testimonial img {
    position: absolute;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px #ababab;
    left: -45px;
    top: -45px;
}

.newsletter-wrapper{
    background: #2A6AB2;
}
.newsletter-content.section-title h2:after{background: none;}

#mc-form .default-btn:hover{
	color: #2A6AB2; 
}
#mc-form > input {
	background: #4EADDE;
}
.section-title h2:after{
    background: url(../../img/icon/titlecustom.png);
}


